.card_backgrounded {
    position: relative;
    padding: 48% 40px 30px 40px;
    text-decoration: none;
    display: block;
    @media all and (max-width: $sm) {
        padding: 34% 10px 10px 10px;
    }
    &--reversed {
        padding: 40px 40px 37.7% 40px;
    }
    &--small {
        padding: 38% 20px 20px 20px;
    }
    &--with_button  {
        padding: 20px !important;
        height: 470px;
        @media all and (max-width: $sm) {
            gap: 10px;
            height: 336px;
        }
    }
    &--with_button &__button {
        .button {
            width: auto;
            font-size: 14px;
            padding: 14px 35px;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0.17) 46%);
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 11px;
        height: 100%;
    }
    &--small &__content {
        gap: 10px;
    }
    &__lock {
        display: flex;
        align-items: center;
        gap: 11px;
        position: relative;
        z-index: 2;
        .icon {
            width: 14px;
            font-size: 0;
        }
        .text {
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__title {
        position: relative;
        z-index: 2;
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-width: 425px;
        @media all and (max-width: $sm) {
            font-size: 16px;
        }
    }
    &--reversed &__title {
        text-transform: uppercase;
        font-size: 20px;
    }
    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        position: relative;
        z-index: 2;
    }
    &__button {
        position: relative;
        z-index: 2;
        max-width: 253px;
    }
}