<a href="@@link" class="card_backgrounded @@class">
    <div class="card_backgrounded__image">
        <img src="@@image" alt="">
    </div>
    <div class="card_backgrounded__content">
        <div class="card_backgrounded__lock">
            <div class="icon">
                <img src="@img/icons/icons.svg#lock_white" alt="lock_white"/>
            </div>
            <div class="text">07.02.24</div>
        </div>
        <div class="card_backgrounded__title">
            @@title
        </div>
        @@if (text) {
            <div class="card_backgrounded__text">
                @@text
            </div>
        }
    </div>
</a>