                </div>
                <aside class="general__sidebar">
                    <div class="general__sidebar_in">
                        @@include('../calendar/calendar.html', {
                            "class": "calendar--global",
                            "selectedDates": "2024-03-18, 2024-03-25, 2024-03-20",
                            "titleMarkup": '<div class="calendar__title">ВСЕ МЕРОПРИЯТИЯ <span>yyyy</span>г.</div><a href="calendar.html" class="calendar__seeall"><span class="text">смотреть</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M1.76953 7.36597H13.7515M13.7515 7.36597L7.7605 1.375M13.7515 7.36597L7.7605 13.3569" stroke="white" stroke-width="1.99699" stroke-linecap="round" stroke-linejoin="round"/> </svg></span></a>',
                            "isInline": false,
                            "events": []
                        })
                        @@include('../banners/image_banner/image_banner.html', {
                            "image": "@img/banner.png"
                        })
                        @@include('../feed/feed.html', {
                            "title": "Лента Юниора",
                            "subtitle": "Новостные сообщения о резултьтатах поисковых работ на месторождениях",
                            "image": "@img/feed.png",
                            "data": "/blocks/components/feed/data.json"
                        })
                    </div>
                </aside>
            </div>
        </main>
        
        @@include('../../modules/footer/footer.html', {})
        @@include('../../modules/modals/main.modal.html', {})
    </div>
    <script src="js/app.min.js"></script>
</body>
</html>