                </div>
                <aside class="general__sidebar">
                    <div class="general__sidebar_in">
                        @@include('../calendar/calendar.html', {
                            "class": "calendar--global",
                            "selectedDates": "2024-03-18, 2024-03-25, 2024-03-20",
                            "titleMarkup": '<div class="calendar__title">ВСЕ МЕРОПРИЯТИЯ <span>yyyy</span>г.</div><a href="calendar.html" class="calendar__seeall"><span class="text">смотреть</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 15 15" fill="none"><path d="M1.76953 7.36597H13.7515M13.7515 7.36597L7.7605 1.375M13.7515 7.36597L7.7605 13.3569" stroke="white" stroke-width="1.99699" stroke-linecap="round" stroke-linejoin="round"/> </svg></span></a>',
                            "isInline": false,
                            "events": []
                        })
                        @@include('../banners/image_banner/image_banner.html', {
                            "image": "@img/banner.png"
                        })
                        @@include('../feed/feed.html', {
                            "button": {
                                "text": "Смотреть все новости",
                                "link": "#"
                            },
                            "title": "Лента Юниора",
                            "subtitle": "Новостные сообщения о резултьтатах поисковых работ на месторождениях",
                            "image": "@img/feed.png",
                            "backgrounded": true,
                            "data": [
                                {
                                    "is_locked": true,
                                    "is_full": false,
                                    "image": "",
                                    "link": "#",
                                    "name": "Таракановское золоторудное месторождение",
                                    "description": "Результаты буровых геологоразведочный работ на очередных дести скважинах"
                                },
                                {
                                    "is_locked": true,
                                    "is_full": false,
                                    "image": "",
                                    "link": "#",
                                    "name": "Богунаевский рудно-россыпной узел",
                                    "description": "Получено разрешение на проведение ГРР без вырубки на весь лицензионный участок"
                                },
                                {
                                    "is_locked": true,
                                    "is_full": false,
                                    "image": "",
                                    "link": "#",
                                    "name": "ООО 'КАМПОИСК'",
                                    "description": "Подтвердились результаты содержания Au в 14-17 скважинах"
                                }
                            ]
                        })
                        @@include('../feed/feed.html', {
                            "button": {
                                "text": "",
                                "link": ""
                            },
                            "title": "Актуально",
                            "subtitle": "",
                            "image": "@img/feed.png",
                            "backgrounded": false,
                            "data": [
                                {
                                    "is_locked": false,
                                    "is_full": false,
                                    "image": "",
                                    "link": "#",
                                    "name": "Таракановское золоторудное месторождение",
                                    "description": "Результаты буровых геологоразведочный работ на очередных дести скважинах"
                                },
                                {
                                    "is_locked": false,
                                    "is_full": false,
                                    "image": "",
                                    "link": "#",
                                    "name": "Богунаевский рудно-россыпной узел",
                                    "description": "Получено разрешение на проведение ГРР без вырубки на весь лицензионный участок"
                                },
                                {
                                    "is_locked": false,
                                    "is_full": false,
                                    "image": "",
                                    "link": "#",
                                    "name": "ООО 'КАМПОИСК'",
                                    "description": "Подтвердились результаты содержания Au в 14-17 скважинах"
                                }
                            ]
                        })
                        @@include('../feed/feed.html', {
                            "button": {
                                "text": "",
                                "link": ""
                            },
                            "title": "мнения",
                            "subtitle": "",
                            "image": "",
                            "backgrounded": false,
                            "data": [
                                {
                                    "is_locked": false,
                                    "is_full": false,
                                    "image": "@img/feed.png",
                                    "link": "#",
                                    "name": "Нужна ли России россыпная золотодобыча?",
                                    "description": ""
                                },
                                {
                                    "is_locked": false,
                                    "is_full": false,
                                    "image": "@img/feed.png",
                                    "link": "#",
                                    "name": "Резиновые футеровки отечественных марок на фоне ухода Metso",
                                    "description": ""
                                },
                                {
                                    "is_locked": false,
                                    "is_full": false,
                                    "image": "@img/feed.png",
                                    "link": "#",
                                    "name": "Уголовным кодексом по коронавирусу решили ударить в Магаданской области",
                                    "description": ""
                                }
                            ]
                        })
                        @@include('../feed/feed.html', {
                            "button": {
                                "text": "",
                                "link": ""
                            },
                            "title": "фото",
                            "subtitle": "",
                            "image": "",
                            "backgrounded": false,
                            "data": [
                                {
                                    "is_locked": false,
                                    "is_full": true,
                                    "image": "@img/feed.png",
                                    "link": "#",
                                    "name": "Нужна ли России россыпная золотодобыча?",
                                    "description": ""
                                },
                                {
                                    "is_locked": false,
                                    "is_full": true,
                                    "image": "@img/feed.png",
                                    "link": "#",
                                    "name": "Резиновые футеровки отечественных марок на фоне ухода Metso",
                                    "description": ""
                                },
                                {
                                    "is_locked": false,
                                    "is_full": true,
                                    "image": "@img/feed.png",
                                    "link": "#",
                                    "name": "Уголовным кодексом по коронавирусу решили ударить в Магаданской области",
                                    "description": ""
                                }
                            ]
                        })

                        @@include('../feed/backgrounded.html', {
                            "button": {
                                "text": "",
                                "link": ""
                            },
                            "title": "между делом",
                            "subtitle": "",
                            "image": "",
                            "backgrounded": false,
                            "data": [
                                {
                                    "is_locked": false,
                                    "is_full": true,
                                    "image": "@img/feed.png",
                                    "link": "#",
                                    "name": "Слово о крепком хозяйственнике Десяткине Тарасе Гавриловиче",
                                    "description": ""
                                },
                                {
                                    "is_locked": false,
                                    "is_full": true,
                                    "image": "@img/feed.png",
                                    "link": "#",
                                    "name": "Тайны германского золота",
                                    "description": ""
                                }
                            ]
                        })
                    </div>
                </aside>
            </div>
        </main>
        
        @@include('../../modules/footer/footer.html', {})
        @@include('../../modules/modals/main.modal.html', {})
    </div>
    <script src="js/app.min.js"></script>
</body>
</html>