                </div>
                <aside class="general__sidebar">
                    <div class="general__sidebar_in">
                        @@include('../calendar/calendar.html')
                        @@include('../banners/image_banner/image_banner.html', {
                            "image": "@img/banner.png"
                        })
                    </div>
                </aside>
            </div>
        </main>
        
        @@include('../../modules/footer/footer.html', {})
        @@include('../../modules/modals/main.modal.html', {})
    </div>
    <script src="js/app.min.js"></script>
</body>
</html>