.comments {
    &__form {
        display: flex;
        gap: 18px;
        @media all and (max-width: $sm) {
            gap: 5px;
        }
    }
    &__form_left {
        width: 50px;
        @media all and (max-width: $sm) {
            width: 28px;
        }
    }
    &__form_avatar {
        width: 100%;
        // position: sticky;
        // top: 50px;
        border-radius: 50px;
        overflow: hidden;
        font-size: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &__form_right {
        width: calc(100% - 50px - 18px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 42px;
        @media all and (max-width: $sm) {
            width: calc(100% - 28px - 5px);
             gap: 10px;
        }
    }
    &__form_textarea {
        display: block;
        max-width: 100%;
        min-width: 100%;
        min-height: 154px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 20px;
        border: 1px solid #DDD;
        @media all and (max-width: $sm) {
            min-height: 72px;
            height: 72px;
            border-radius: 6px;
        }
    }
}