.masonry_block {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // position: sticky;
        // top: 50px;
    }
    &__grid {
        display: grid;
        grid-template-areas: 
            'big big item1'
            'big big long'
            'item2 item3 long';
        grid-gap: 20px;

        @media all and (max-width: $md) {
            grid-template-areas: none;
            grid-template-columns: repeat(2, 1fr);
        }
        @media all and (max-width: $sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        @media all and (min-width: $lg) {
            padding-top: 163px;
            &:first-child {
                grid-area: big;
                padding-top: 49%;
            }
            &:nth-child(5) {
                grid-area: long;
            }
        }
        @media all and (max-width: $sm) {
            &:nth-child(n+4) {
                display: none !important;
            }
        }
    }
}