.feed {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media all and (max-width: $sm) {
            gap: 10px;
        }
        &--backgrounded {
            padding: 10px;
            border-radius: 5px;
            background: #F4F4F4;
            @media all and (max-width: $sm) {
                padding: 8px;
            }
        }
        &:before {
            content: "";
            display: block;
            width: 100%;
            max-width: 180px;
            height: 8px;
            background: #000;
            @media all and (max-width: $sm) {
                width: 94px;
                height: 5px;
            }
        }
    }
    
    &__top {
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media all and (max-width: $sm) {
            gap: 0;
        }
    }
    &__title {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        @media all and (max-width: $sm) {
            font-size: 16px;
        }
    }
    &__subtitle {
        color: #444;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
        @media all and (max-width: $sm) {
            font-size: 16px;
            padding-bottom: 7px;
        }
    }
    &__items {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media all and (max-width: $sm) {
            padding-top: 0;
            padding-bottom: 20px;
        }
    }
    &__item {
        text-decoration: none;
        display: flex;
        gap: 9px;
        &--full {
            flex-wrap: wrap;
        }
    }
    &__item_left {
        width: 93px;
        &--hidden {
            display: none;
        }
        img {
            width: 100%;
            position: sticky;
            top: 50px;
        }
    }
    &__item--full &__item_left {
        width: 100%;
    }
    &__item_right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: calc(100% - 9px - 93px);
        &--full {
            width: 100%;
        }
    }
    &__item--full &__item_right {
        width: 100%;
    }
    &__item_lock {
        display: flex;
        align-items: center;
        gap: 11px;
        &--hidden {
            display: none;
        }
        .icon {
            width: 13px;
            font-size: 0;
        }
        .date {
            color: #828282;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__item_name {
        color: #444;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
        @media all and (max-width: $sm) {
            font-size: 16px;
            font-weight: 500;
        }
    }
    &__item_description {
        color: #828282;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        
    }
    &__in--backgrounded  &__item_description {
        @media all and (max-width: $sm) {
            display: none;
        }
    }
    &__image {
        @media all and (max-width: $sm) {
            position: relative;
            padding-top: 62%;
        }
        img {
            max-width: 100%;
            @media all and (max-width: $sm) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
}