.about_journal {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__text {
        color: #828282;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        p {
            margin: 0;
        }
        a {
            color: inherit;
        }
    }
}