.error_page {
    flex: 1 1 auto;
    position: relative;
    &__bg {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        pointer-events: none;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        position: absolute;
        bottom: 13.48vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 38px;
        @media all and (max-width: $sm) {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            box-sizing: border-box;
            gap: 30px;
            bottom: 38px;
        }
        
    }
    &__text {
        max-width: 521px;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 52.1px rgba(0, 0, 0, 0.60);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media all and (max-width: $sm) {
            font-size: 16px;
            margin: 0 auto;
        }
    }
    &__button {
        max-width: 253px;
        margin: 0 auto;
        @media all and (max-width: $sm) {
            width: 100%;
        }
    }
}