.card_regular {
    text-decoration: none;
    &__image {
        margin-bottom: 20px;
        width: 100%;
        img, picture {
            width: 100%;
            display: block;
        }
    }
    &__lock {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-bottom: 9px;
        .icon {
            width: 16px;
            font-size: 0;
            @media all and (max-width: $sm) {
                width: 13px;
            }
        }
        .text {
            color: #828282;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__title {
        color: #444;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 28px */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; 
        @media all and (max-width: $sm) {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
        }
    }
    &__description {
        overflow: hidden;
        color: #828282;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-top: 14px;
        margin-bottom: 20px;
    }
}