<div class="card_regular @@class">
    <a href="@@link" class="card_regular__image">
        <img src="@@image" alt="">
    </a>
    @@if(is_locked) {
        <div class="card_regular__lock">
            <div class="icon">
                <img src="@img/icons/icons.svg#lock_gray" alt="lock_gray"/>
            </div>
            <div class="text">07.02.24</div>
        </div>
    }
    <a href="@@link" class="card_regular__title">
        @@title
    </a>
    @@if (description) {
        <a href="@@link" class="card_regular__description">
            @@description
        </a>
    }
    @@if (icons) {
        <div class="card_detailed__indicators">
                        
            <div class="card_detailed__indicator">
                <div class="icon">
                    <img src="img/icons/icons.svg#messages_black" alt="messages_black">
                </div>
                <div class="count">1</div>
            </div>
        
        
            <div class="card_detailed__indicator">
                <div class="icon">
                    <img src="img/icons/icons.svg#eye_black" alt="eye_black">
                </div>
                <div class="count">20302</div>
            </div>
        
        
            <div class="card_detailed__indicator">
                <div class="icon">
                    <img src="img/icons/icons.svg#like_black" alt="like_black">
                </div>
                <div class="count">300</div>
            </div>
        
        
            <div class="card_detailed__indicator">
                <div class="icon">
                    <img src="img/icons/icons.svg#dislike_black" alt="dislike_black">
                </div>
                <div class="count">3</div>
            </div>
            
        </div>
    }
</div>