.header {
    position: relative;
    &__logo {
        width: 253px;
        display: block;
        font-size: 0;
        position: relative;
        z-index: 10;
        @media all and (max-width: $mobileStart) {
            width: 147px;
        }
    }
    &__top {
        background: var(--background);
        position: relative;
        z-index: 10;
    }
    &__top_in {
        padding-top: 54px;
        padding-bottom: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: $mobileStart) {
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }
    &__left {
        display: flex;
        align-items: center;
        gap: 70px;
    }
    &__worktime {
        color: #E0E0E0;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .date {
            font-weight: 700;
        }
        .time {}
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    &__search {
        width: 30px;
        height: 30px;
        font-size: 0;
        cursor: pointer;
    }
    &__socials {
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__social {
        display: block;
        font-size: 0;
        width: 28px;
    }
    &__bottom {
        background: #000;
    }
    &__menu {
        padding: 12px 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: $mobileStart) {
            flex-direction: column;
            align-items: flex-start;
        }
        a {
            color: #E0E0E0;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    &__burger_opener {
        width: 30px;
        font-size: 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        img {
            transition: all .3s ease;
        }
        &.isOpened {
            img {
                transform: translateX(-100%);
            }
        }
    }
    &__burger_body {
        position: absolute;
        background: #262626;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 8;
        transform: translateY(-100%);
        transition: all .3s ease;
        overflow: auto;
        &.isOpened {
            transform: translateY(0);
        }
    }
}