.tags {
    &__in {
        display: flex;
        align-items: center;
        gap: 11px;
        @media all and (max-width: $sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__title {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
    }
    &__items {
        display: flex;
        align-items: center;
        gap: 7px;
        @media all and (max-width: $sm) {
            flex-wrap: wrap;
        }
    }
    &__item {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        padding: 5px 15px;
        border-radius: 20px;
        border: 1px solid #D7D7D7;
        text-decoration: none;
        @media all and (max-width: $sm) {
            padding: 4px 15px;
        }
        &:hover {
            background: #000;
            color: #fff;
            border-color: #000;
        }
    }
}