<div class="card_huge">
    <div class="card_huge__image">
        <img src="@@image" width="100%" alt="" class="has-aspect-ratio" style="--aspect: 16/10;">
    </div>
    @@if (is_locked) {
        <div class="card_huge__lock">
            <div class="icon">
                <img src="@img/icons/icons.svg#lock_gray" alt="lock_gray"/>
            </div>
            <date class="date">07.02.24</date>
        </div>
    }
    <a href="@@link" class="card_huge__title">
        @@title
    </a>
    <div class="card_huge__about">
        @@text
    </div>
    <div class="card_huge__bottom">
        <a href="@@link" class="card_huge__link hide_on_mobile">
            <div class="text">читать полностью</div>
            <div class="arrow"><img src="@img/icons/icons.svg#arrow_right_black" alt="arrow_right_black"/></div>
        </a>
        @@include('../../buttons/button.html', {
            "share": false,
			"text": "Читать полностью",
			"link": "#",
			"type": "button",
			"has_arrow": true,
			"class": "button--black hide_on_desktop"
		})
        <div class="card_huge__indicators">
            @@if (messages) {
                <div class="card_huge__indicator">
                    <div class="icon">
                        <img src="@img/icons/icons.svg#messages_black" alt="messages_black"/>
                    </div>
                    <div class="count">@@messages</div>
                </div>
            }
            @@if (eyes) {
                <div class="card_huge__indicator">
                    <div class="icon">
                        <img src="@img/icons/icons.svg#eye_black" alt="eye_black"/>
                    </div>
                    <div class="count">@@eyes</div>
                </div>
            }
            @@if (likes) {
                <div class="card_huge__indicator">
                    <div class="icon">
                        <img src="@img/icons/icons.svg#like_black" class="normal" alt="like_black"/>
                        <img src="@img/icons/icons.svg#like_hover" class="hover" alt="like_hover"/>
                        <img src="@img/icons/icons.svg#like_active" class="active" alt="like_active"/>
                    </div>
                    <div class="count">@@likes</div>
                </div>
            }
            @@if (dislikes) {
                <div class="card_huge__indicator active">
                    <div class="icon">
                        <img src="@img/icons/icons.svg#dislike_black" class="normal" alt="dislike_black"/>
                        <img src="@img/icons/icons.svg#dislike_hover" class="hover" alt="dislike_hover"/>
                        <img src="@img/icons/icons.svg#dislike_active" class="active" alt="dislike_active"/>
                    </div>
                    <div class="count">@@dislikes</div>
                </div>
            }
        </div>
    </div>
</div>