.card_huge {
    padding: 30px 20px;
    background: #F6F6F6;
    &__image {
        margin-bottom: 21px;
    }
    &__lock {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        .icon {
            width: 15px;
            font-size: 0;
        }
        .date {
            color: #828282;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__title {
        color: #000;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 137%; /* 36.4px */
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        padding-right: 10px;
    }
    &__about {
        color: #828282;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        overflow: hidden;
        line-height: 140%; /* 25.2px */
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; 
        margin-bottom: 20px;
        padding-right: 26px;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 9px;
        color: #000;
        text-decoration: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        .arrow {
            width: 12px;
            font-size: 0;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__indicators {
        display: flex;
        align-items: center;
        gap: 23px;
    }
    &__indicator {
        display: flex;
        align-items: center;
        gap: 5px;
        .icon {
            width: 18px;
            font-size: 0;
        }
        .count {
            color: #818181;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 14px */
        }
    }
}