.card_huge {
    padding: 30px 20px;
    background: #F6F6F6;
    @media all and (max-width: $md) {
        padding: 0;
        background: none;
    }
    &__image {
        margin-bottom: 21px;
        font-size: 0;
        padding-top: 62.5%;
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
        @media all and (max-width: $sm) {
            margin-bottom: 15px;
        }
        
    }
    &__lock {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        @media all and (max-width: $sm) {
            margin-bottom: 15px;
        }
        .icon {
            width: 15px;
            font-size: 0;
        }
        .date {
            color: #828282;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__title {
        color: #000;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: 137%; /* 36.4px */
        text-transform: uppercase;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        padding-right: 10px;
        @media all and (max-width: $sm) {
            font-size: 18px;
            padding-right: 0;
        }
    }
    &__about {
        color: #828282;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        overflow: hidden;
        line-height: 140%; /* 25.2px */
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical; 
        margin-bottom: 20px;
        padding-right: 26px;
        @media all and (max-width: $sm) {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 9px;
        color: #000;
        text-decoration: none;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        .arrow {
            width: 12px;
            font-size: 0;
        }
    }
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: $sm) {
            flex-direction: column-reverse;
            align-items: stretch;
            gap: 20px;
        }
    }
    &__indicators {
        display: flex;
        align-items: center;
        gap: 23px;
        @media all and (max-width: $sm) {
            gap: 14px;
        }
    }
    &__indicator {
        display: flex;
        align-items: center;
        gap: 5px;
        @media all and (max-width: $sm) {
            gap: 3px;
        }
        .icon {
            width: 18px;
            font-size: 0;
            @media all and (max-width: $sm) {
                width: 14px;
            }
        }
        .count {
            color: #818181;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 14px */
            @media all and (max-width: $sm) {
                font-size: 7px;
            }
        }
        &:not(:hover):not(.active) {
            .icon .hover,
            .icon .active {
                display: none;
            }
        }
        &:hover {
            .icon .normal,
            .icon .active {
                display: none;
            }
        }
        &:not(:hover).active {
            .icon .normal,
            .icon .hover {
                display: none;
            }
        }
    }
}