.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, .9);
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    &.isOpened {
        opacity: 1;
        visibility: visible;
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    &__in {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        max-width: 320px;
        padding: vw(20);
        background: #fff;
    }
}