.daily_news {
    position: relative;
    padding-top: 16px;
    @media all and (max-width: $md) {
        padding-top: 0;
    }
    &__in {
        position: sticky;
        top: 50px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__items {
        width: 100%;
    }
}