.comments {
    &__item {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
    &__item_top {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__item_avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 0;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &__item_author {
        .name {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 1; /* 28px */
            margin-bottom: 10px;
            @media all and (max-width: $sm) {
                font-size: 16px;
            }
        }
        .date {
            color: #828282;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1;
        }
    }
    &__item_text {
        color: #646464;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @media all and (max-width: $sm) {
            font-size: 14px;
        }
    }
    &__item_indicators {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 4px;
    }
    &__item_indicator {
        display: flex;
        align-items: center;
        gap: 5px;
        
        .icon {
            width: 18px;
            font-size: 0;
        }
        .count {
            color: #818181;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 14px */
        }
    }
}