
$containerPadding: 20px;
$containerWidth: 1620px;

$desktopStart: 1025px;
$mobileStart: 1024px;

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.general {
    &__container {
        width: 100%;
        max-width: calc($containerWidth + $containerPadding * 2);
        margin-left: auto;
        margin-right: auto;
        padding-left: $containerPadding;
        padding-right: $containerPadding;
        box-sizing: border-box;
    }
    &__main {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    &__main_in {
        display: flex;
        gap: 20px;
    }
    &__content {
        width: calc(100% - 20px - 390px);
    }
    &__sidebar {
        width: 390px;
    }
    &__sidebar_in {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: sticky;
        top: 30px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__title_in {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 17px;
        padding-bottom: 17px;
        border-top: 1px solid #141414;
        border-bottom: 1px solid #141414;
        text-decoration: none;
        &--back {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        .text {
            color: #000;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .arrow {
            width: 20px;
            height: 20px;
            font-size: 0;
        }
        &--back .arrow {
            transform: rotate(180deg);
        }
    }
    &__rows {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__row {
        &--two-one {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-gap: 20px;
        }
        &--one-two {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 20px;
        }
    }
    &__block_title {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 8px solid #000;
        color: #444;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
}


.button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 38px;
    border-radius: 10px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(90deg, #AC731A -34.96%, #BD8E3E 0.13%, #F8EDAF 58.12%, #BD8E3E 103.97%, #AC731A 138.12%);
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: block;
}

.hide_on_desktop {
    @media all and (min-width: $desktopStart) {
        display: none !important;
    }
}
.hide_on_mobile {
    @media all and (max-width: $mobileStart) {
        display: none !important;
    }
}