
$containerPadding: 20px;
$containerWidth: 1620px;

$lg: 1025px;
$md: 1024px;
$sm: 768px;

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.overflow-hidden {
    overflow: hidden;
}
.wrapper {
    &--fullpage {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    &__grow {
        flex: 1 1 auto;
    }
    &.search_results_page {
        .general__title {
            margin-bottom: 4px;
        }
        .card_detailed__info {
            @media all and (max-width: $sm) {
                &:before {
                    display: none;
                }
            }
        }
        .newslist__in {
            @media all and (max-width: $sm) {
                gap: 40px;
            }
        }
    }
}
.general {
    &__container {
        width: 100%;
        max-width: calc($containerWidth + $containerPadding * 2);
        margin-left: auto;
        margin-right: auto;
        padding-left: $containerPadding;
        padding-right: $containerPadding;
        box-sizing: border-box;
    }
    &__main {
        padding-top: 20px;
        padding-bottom: 100px;
        @media all and (max-width: $sm) {
            padding-bottom: 50px;
        }
    }
    &__main_in {
        display: flex;
        gap: 20px;
        @media all and (max-width: $md) {
            gap: 30px;
            flex-direction: column;
        }
    }
    &__content {
        width: calc(100% - 20px - 390px);
        @media all and (max-width: $md) {
            width: 100%;
        }
    }
    &__sidebar {
        width: 390px;
        @media all and (max-width: $md) {
            width: 100%;
        }
    }
    &__sidebar_in {
        display: flex;
        flex-direction: column;
        gap: 30px;
        // position: sticky;
        // top: 30px;
    }
    &__title {
        margin-bottom: 40px;
        @media all and (max-width: $md) {
            margin-bottom: 16px;
        }
    }
    &__title_in {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 17px;
        padding-bottom: 17px;
        border-top: 1px solid #141414;
        border-bottom: 1px solid #141414;
        text-decoration: none;
        @media all and (max-width: $md) {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        &--back {
            flex-direction: row-reverse;
            justify-content: flex-end;
        }
        .text {
            color: #000;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @media all and (max-width: $md) {
                font-size: 20px;
            }
        }
        .arrow {
            width: 20px;
            height: 20px;
            font-size: 0;
            @media all and (max-width: $md) {
                width: 15px;
                height: 15px;
            }
        }
        &--back .arrow {
            transform: rotate(180deg);
        }
    }
    &__rows {
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media all and (max-width: $sm) {
            gap: 30px;
        }
    }
    &__row {
        &--two-one {
            display: grid;
            grid-template-columns: 2.05fr 1fr;
            grid-gap: 20px;
            @media all and (max-width: $md) {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 30px;
            }
        }
        &--one-two {
            display: grid;
            grid-template-columns: 1fr 2.05fr;
            grid-gap: 20px;
            @media all and (max-width: $md) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &--three {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            @media all and (max-width: $md) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media all and (max-width: $sm) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &--58p-42p {
            display: grid;
            grid-template-columns: 58% 42%;
            grid-gap: 0;
            @media all and (max-width: $md) {
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 10px;
            }
        }

        &--column-reverse-mobile {
            @media all and (max-width: $sm) {
                display: flex;
                flex-direction: column-reverse;
            } 
        }
        &--only_one_on_mobile {
            @media all and (max-width: $sm) {
                .grid_news__item:not(:first-child) {
                    display: none !important;
                }
                .grid_news__in {
                    display: block;
                }
            }
        }
        
    }
    &__hr {
        border-bottom: 1px solid #B6B6B6;
    }
    &__block_title {
        // padding-top: 20px;
        padding-bottom: 20px;
        // border-top: 8px solid #000;
        color: #444;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &:before  {
            content: "";
            display: block;
            height: 8px;
            background: #000;

        }
        @media all and (max-width: $sm) {
            gap: 10px;
            color: #444;
            font-size: 16px;
            &:before {
                height: 3px;
                width: 93px;
            }
        }
    }
    &__section_title {
        color: #444;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        @media all and (max-width: $md) {
            font-size: 16px;
        }
    }
    &__line_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        gap: 40px;
        @media all and (max-width: $sm) {
            padding-bottom: 4px;
            padding-top: 4px;
            border-top: 1px solid #000;
            gap: 12px;
        }
        .text {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
        .arrow {
            width: 16px;
            font-size: 0;
        }
    }
    &__line_title_left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        text-decoration: none;
    }
    &__row_title {
        margin-bottom: 35px;
        @media all and (max-width: $sm) {
            margin-bottom: 20px;
        }
    }
    &__row_columns {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
    &__arrows {
        display: flex;
        align-items: center;
        gap: 9px;
    }
    &__arrow {
        padding: 0;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        font-size: 0;
        background: #FFF;
        cursor: pointer;
        @media all and (max-width: $sm) {
            width: 28px;
            height: 28px;
        }
        &:hover {
            background: #000;
            img {
                filter: invert(1);
            }
        }
        &--next {
            transform: rotate(180deg);
        }
    }
    &__video_column_in {
        position: sticky;
        top: 50px;
        @media all and (max-width: $sm) {
            .card_one_lined {
                &:nth-child(n+4) {
                    display: none !important;
                }
            }
        }
    }
    &__pagination {
        display: flex;
        align-items: center;
        gap: 9px;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__pagination_item {
        a {
            padding: 7px 10px;
            display: block;
            text-decoration: none;
            min-width: 32px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid #000;
            overflow: hidden;
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
        }
    }
    &__paragraphs {
        display: flex;
        flex-direction: column;
        gap: 30px;
        p, ul, ul > li {
            margin: 0;
            color: #646464;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 25.2px */
            @media all and (max-width: $sm) {
                font-size: 14px;
                line-height: 143%;
            }
        }
        ul {
            padding-left: 28px;
        }
        strong {
            color: #000;
        }
    }
    &__select {
        width: 100%;
        height: 53px;
        border-radius: 10px;
        background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(90deg, #AC731A -34.96%, #BD8E3E 0.13%, #F8EDAF 58.12%, #BD8E3E 103.97%, #AC731A 138.12%);
        box-shadow: 0px 4px 25.6px 0px rgba(0, 0, 0, 0.09);
        border: none;
        padding: 0 12px;

        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__row_grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 20px;
        @media all and (max-width: $sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__row_grid-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 20px;
    }

    &__rows_news_detail {
        .detail__short_descrition {
            color: #646464;
        }
    }
    &__row_gap {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

.specprojects_mobile_slider {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.read_all_button {
    display: flex;
    align-items: center;
    gap: 10px;
    .text {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        text-decoration-line: underline;
    }
    .arrow {
        width: 15px;
        font-size: 0;
    }
}

.button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 38px;
    border-radius: 10px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(90deg, #AC731A -34.96%, #BD8E3E 0.13%, #F8EDAF 58.12%, #BD8E3E 103.97%, #AC731A 138.12%);
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @media all and (max-width:  $sm) {
        font-size: 18px;
        padding: 16px 18px 17px;
    }
    
    .arrow {
        width: 14px;
        font-size: 0;
    }
    &--black {
        background: #000;
        color: #FFF;
        font-weight: 400;
        .arrow {
            filter: invert(1);
        }
    }
    &--shrink {
        display: inline-flex;
    }
    &--huge {
        padding: 21px 38px;
        font-size: 20px;
        @media all and (max-width: $sm) {
            // padding: 15px;
            font-size: 18px;
        }
    }
    &--small {
        padding: 10px 20px;
        font-size: 16px;
        gap: 10px;
        .arrow {
            width: 13px;
        }
    }
    &--full {
        width: 100%;
        box-sizing: border-box;
    }
    &--61 {
        padding: 20px 38px;
    }
}

.hide_on_desktop {
    @media all and (min-width: $lg) {
        display: none !important;
    }
}
.hide_on_mobile {
    @media all and (max-width: $md) {
        display: none !important;
    }
}
.glide__slides {
    white-space: unset;
}

.info_projects_detail .card_backgrounded {
    padding: 49% 20px 20px 20px;
}


body * {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 36px;
        background: rgba(210, 210, 210, 0.28);
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 36px;
        background: #959595;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #959595;
    }
}