.row_news {
    &__in {
        display: flex;
        flex-direction: column;
        gap: var(--gap, 30px);
        // position: sticky;
        // top: 50px;
        @media all and (max-width: $sm) {
            gap: 20px;
        }
    }
    &__item {
        @media all and (max-width: $sm) {
            &:nth-child(n+4) {
                display: none !important;
            }
        }
    }
}