.legal_issues {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px 82px;
        @media all and (max-width: $md) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
        }
        @media all and (max-width: $sm) {
            grid-template-columns: repeat(1, 1fr);
        }
        .card_middle__title {
            font-size: 20px;
            @media all and (max-width: $sm) {
                font-size: 16px;
            }
        }
    }
}