.files {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__title {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
        margin-bottom: 10px;
    }
    &__subtitle {
        color: #828282;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        @media all and (max-width: $sm) {
            font-size: 14px;
        }
    }
    &__items {
        max-width: 605px;
        display: grid;
        grid-template-columns: repeat(3, calc(100% / 3 - (20px * 2 / 3)));
        grid-gap: 20px;
        @media all and (max-width: $sm) {
            grid-template-columns: repeat(2, calc(100% / 2 - (19px * 1 / 2)));
            grid-gap: 11px 19px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        .icon {
            width: 42px;
            font-size: 0;
            @media all and (max-width: $sm) {
                width: 33px;
            }
        }
        .filename {
            width: calc(100% - 42px - 10px);
            color: #646464;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 25.2px */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @media all and (max-width: $sm) {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}