.video {
    &__in,
    &__track,
    &__slides {
        // position: sticky;
        // top: 50px;
        height: 100%;
    }
    &__wrap {
        position: relative;
        height: 100%;
    }
    &__poster {
        font-size: 0;
        height: 100%;
        @media all and (max-width: $sm) {
            padding-top: 62%;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
    &__play {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 128px;
        height: 128px;
        font-size: 0;
        transform: translate(-50%, -50%);
        @media all and (max-width: $sm) {
            width: 60px;
            height: 60px;
        }
    }
}