.events {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media all and (max-width: $md) {
            gap: 20px;
        }
    }
    &__arrows {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__items,
    &__track {
        min-width: 100%;
        max-width: 100%;
    }
}