.search_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #141414;
    z-index: 9;
    transform: translateY(-100%);
    transition: .5s all .5s linear;
    &.isOpened {
        transform: translateY(0%);
        transition: all .5s linear;
    }
    &__in {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__closer {
        width: 40px;
        height: 40px;
        font-size: 0;
        position: absolute;
        top: 66px;
        right: 188px;
        cursor: pointer;
        transition: all 0s ease;
        &:hover {
            transform: rotate(90deg);
            transition: all .3s ease;
        }
    }
    &__form {
        width: 892px;
        @media all and (max-width: $mobileStart) {
            width: 100%;
        }
    }
    &__input {
        outline: none;
        width: 100%;
        padding-bottom: 20px;
        border: none;
        background: transparent;
        border-bottom: 2px solid #fff;
        &::placeholder, & {
            color: rgba(255, 255, 255, 0.45);
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}