<div class="tophead_banner">
    <div class="tophead_banner__in general__container">
        <a href="#" class="tophead_banner__left">
            <div class="logo">
                <img src="@img/tophead_banner_logo.png" alt="">
            </div>
            <div class="email">www.ogkgroup.ru</div>
        </a>
        <div class="tophead_banner__middle">
            <div class="tophead_banner__small_text">1 000 000 погонных метров колонкового бурения</div>
            <div class="tophead_banner__big_text">
                <span class="biggest">1 000 000</span>
                <span class="big">погонных метров колонкового бурения</span>
                <span class="regular">отметка, которую мы преодолели в марте 2017 года</span>
            </div>
        </div>
        <div class="tophead_banner__right">
            <div class="tophead_banner__opener tophead_banner__opener--js">
                <div class="text">Подробнее</div>
                <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 12 7" fill="none">
                        <path d="M1 1L6 6L11 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>