.grid_news {
    &__in {
        display: grid;
        grid-gap: 20px;
        grid-template-areas:
            'small1 small2'
            'big big';
        // position: sticky;
        // top: 50px;
        @media all and (max-width: $sm) {
            grid-template-areas:
            'small1'
            'small2'
            'big';
        }
    }
    &__item {
        &:nth-child(3n+3) {
            grid-area: big;
        }
    }
}