.slider_gallery {
    &__in {
        display: grid;
        grid-template-columns: 74.5% calc(25.5% - 20px);
        grid-gap: 20px;
    }
    &__slide {
        img {
            width: 100%;
        }
    }
    &__thumb {
        position: relative;
        font-size: 0;
        padding-top: 60%;
        display: block;
        text-decoration: none;
        cursor: pointer;
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: #fff;
            opacity: 0.4;
            transition: all .3s ease;
        }
        &.glide__bullet--active:after {
            opacity: 0;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
    &__thumbs_in {
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100%;
    }
    
}