.authentication {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &__title {
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__form-fields {
        display: inline-grid;
        grid-template-columns: repeat(var(--columns, 1), 1fr);
        grid-gap: 10px;
        max-width: calc(390px * 2 + 10px);

        @media all and (max-width: $sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__form-field {
        max-width: 390px;
        &--captcha {
            grid-column: 1 / span var(--columns, 1);
            max-width: 100%;
            &_in {
                display: inline-grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
                width: 100%;
                @media all and (max-width: $sm) {
                    grid-template-columns: repeat(1, 1fr);
                }
            }

        }
        @media all and (max-width: $sm) {
            max-width: 100%;
        }
        input {
            width: 100%;
            height: 46px;
            border-radius: 10px;
            border: 1px solid #000;
            padding: 0 20px;
            box-sizing: border-box;
            color: #000;
            &::placeholder {
                color: #828282;
            }
            &,
            &::placeholder {
                font-size: 16px;
            }
        }
    }
    &__form-field_description {
        color: #828282;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 640px;
    }
    &__form-field_right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    &__form-field--captcha_title {
        color: #141414;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
    }
    &__form-link {
        color: #bd8e3e;
        font-size: 16px;
        font-weight: 700;
    }
    &__form-buttons {
        display: flex;
        align-items: center;
        gap: 20px;
        @media all and (max-width: $sm) {
            flex-direction: column;
            align-items: flex-start;
        }
        .button {
            min-width: 253px;
            box-sizing: border-box;
            @media all and (max-width: $sm) {
                width: 100%;
            }
        }
    }
    &__form-politics {
        color: #828282;
        font-size: 16px;
        max-width: 282px;
        @media all and (max-width: $sm) {
            max-width: 100%;
        }
        a {
            color: #141414;
            text-decoration: underline;
        }
    }
}
