.archive {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__select {
        // display: flex;
        width: 390px;
        @media all and (max-width: $sm) {
            width: 100%;
        }
        // height: 57px;
        // border: 2px solid #A3A3A3;
        // padding: 0 20px;
        // color: #000;
        // font-size: 20px;
        // font-style: normal;
        // font-weight: 700;
        // line-height: normal;
        // text-transform: uppercase;
        // box-sizing: border-box;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px 73px;
        @media all and (max-width: $sm) {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 15px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-decoration: none;
        width: 100%;
    }
    &__item_image {
        font-size: 0;
        img {
            max-width: 100%;
        }
    }
    &__item_name {
        overflow: hidden;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 22.4px */
    }
}