.subscription {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 802px;
        @media all and (max-width: $sm) {
            gap: 15px;
        } 
    }
    &__text {
        color: #828282;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        @media all and (max-width: $sm) {
            font-size: 14px;
        } 
    }
    &__times {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__time_item {
        color: #828282;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        strong {
            color: #000;
        }
        @media all and (max-width: $sm) {
            font-size: 14px;
        }
    }
    &__variants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 21px;
    }
    &__variant {
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 22.6px 0px rgba(0, 0, 0, 0.06);
    }
    &__variant_top {
        padding: 50px 37px 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;
    }
    &__variant_name {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &__variant_type {
        color: #828282;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
    }
    &__variant_price {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        padding: 12px 30px;
        border-radius: 54px;
        border: 1px solid #9A9A9A;
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        .icon {
            font-size: 0;
            width: 20px;
        }
        .text {
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 25.2px */
            width: calc(100% - 10px - 20px);
        }
        &--email .text {
            text-decoration: underline;
        }
    }
}