.card_one_lined {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    &--backgrounded {
        @media all and  (min-width: $sm) {
            padding: 14px 23px;
            background: #F2F2F2;
            &:not(:last-of-type) {
                border-bottom: 1px solid #828282;
            }
        }
        @media all and  (max-width: $sm) {
            padding: 10px 0;
        }
    }
    &__image {
        width: 103px;
        font-size: 0;
    }
    &__title {
        width: calc(100% - 103px - 10px);
        color: #444;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 25.2px */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        @media all and  (max-width: $sm) {
            font-size: 16px;
            font-weight: 500;
        }
    }
}