.card_detailed {
    text-decoration: none;
    &__in {
        display: flex;
        gap: 20px;
        @media all and (max-width: $sm) {
            flex-direction: column;
            gap: 10px;
        }
    }
    &__image {
        width: 177px;
        @media all and (max-width: $sm) {
            width: 100%;
        }
    }
    &__image_in {
        font-size: 0;
        // position: sticky;
        // top: 50px;
        img {
            max-width: 100%;
        }
    }
    &__info {
        width: calc(100% - 20px - 177px);
        @media all and (max-width: $md) {
            width: 100%;
        }
        &:before {
            content: "";
            display: block;
            height: 4px;
            width: 82px;
            background: #000;
            margin-bottom: 15px;
            @media all and (max-width: $sm) {
                margin-bottom: 10px;
            }
        }
    }
    &__info_in {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media all and (max-width: $md) {
            gap: 10px;
        }
    }
    &__lock {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-bottom: 23px;
        @media all and (max-width: $sm) {
            margin-bottom: 10px;
        }
        .icon {
            width: 16px;
            font-size: 0;
            @media all and (max-width: $sm) {
                width: 13px;
            }
        }
        .date {
            color: #828282;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 4px;
        .title {
            overflow: hidden;
            color: #444;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 25.2px */
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-decoration: none;
            @media all and (max-width: $sm) {
                -webkit-line-clamp: 2;
                font-size: 16px;
                font-weight: 500;
            }
        }
        .subtitle {
            color: #828282;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-decoration: none;
            @media all and (max-width: $sm) {
                -webkit-line-clamp: 4;
                font-size: 14px;
            }
        }
    }
    &__indicators {
        display: flex;
        align-items: center;
        gap: 23px;
        @media all and (max-width: $sm) {
            gap: 14px;
        }
    }
    &__indicator {
        display: flex;
        align-items: center;
        gap: 5px;
        @media all and (max-width: $sm) {
            gap: 3px;
        }
        .icon {
            width: 18px;
            font-size: 0;
            @media all and (max-width: $md) {
                width: 14px;
            }
        }
        .count {
            color: #818181;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 14px */
            @media all and (max-width: $sm) {
                font-size: 7px;
            }
        }

        &:not(:hover):not(.active) {
            .icon .hover,
            .icon .active {
                display: none;
            }
        }
        &:hover {
            .icon .normal,
            .icon .active {
                display: none;
            }
        }
        &:not(:hover).active {
            .icon .normal,
            .icon .hover {
                display: none;
            }
        }
    }
}