.card_detailed {
    text-decoration: none;
    &__in {
        display: flex;
        gap: 20px;
    }
    &__image {
        width: 177px;
    }
    &__image_in {
        font-size: 0;
        position: sticky;
        top: 50px;
        img {
            max-width: 100%;
        }
    }
    &__info {
        width: calc(100% - 20px - 177px);
        &:before {
            content: "";
            display: block;
            height: 4px;
            width: 82px;
            background: #000;
            margin-bottom: 15px;
        }
    }
    &__info_in {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__lock {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-bottom: 30px;
        .icon {
            width: 13px;
            font-size: 0;
        }
        .date {
            color: #828282;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .title {
            overflow: hidden;
            color: #444;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 25.2px */
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .subtitle {
            color: #828282;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    &__indicators {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__indicator {
        display: flex;
        align-items: center;
        gap: 5px;
        .icon {
            width: 16px;
            font-size: 0;
        }
        .count {
            color: #818181;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 14px */
        }
    }
}