<div class="card_detailed @@class">
    <div class="card_detailed__in">
        <a href="@@link" class="card_detailed__image">
            <div class="card_detailed__image_in">
                <img src="@@image" alt="">
            </div>
        </a>
        <div class="card_detailed__info">
            <div class="card_detailed__lock">
                @@if (is_locked) {
                    <div class="icon">
                        <img src="@img/icons/icons.svg#lock_gray" alt="lock_gray"/>
                    </div>
                }
                <date class="date">07.02.24</date>
            </div>
            <div class="card_detailed__info_in">
                <div class="card_detailed__text">
                    <a href="@@link" class="title">@@title</a>
                    <a href="@@link" class="subtitle">@@text</a>
                </div>
                @@if (messages || eyes || likes || dislikes) {
                    <div class="card_detailed__indicators">
                        @@if (messages) {
                            <div class="card_detailed__indicator">
                                <div class="icon">
                                    <img src="@img/icons/icons.svg#messages_black" alt="messages_black"/>
                                </div>
                                <div class="count">@@messages</div>
                            </div>
                        }
                        @@if (eyes) {
                            <div class="card_detailed__indicator">
                                <div class="icon">
                                    <img src="@img/icons/icons.svg#eye_black" alt="eye_black"/>
                                </div>
                                <div class="count">@@eyes</div>
                            </div>
                        }
                        @@if (likes) {
                            <div class="card_detailed__indicator">
                                <div class="icon">
                                    <img src="@img/icons/icons.svg#like_black" class="normal" alt="like_black"/>
                                    <img src="@img/icons/icons.svg#like_hover" class="hover" alt="like_hover"/>
                                    <img src="@img/icons/icons.svg#like_active" class="active" alt="like_active"/>
                                </div>
                                <div class="count">@@likes</div>
                            </div>
                        }
                        @@if (dislikes) {
                            <div class="card_detailed__indicator active">
                                <div class="icon">
                                    <img src="@img/icons/icons.svg#dislike_black" class="normal" alt="dislike_black"/>
                                    <img src="@img/icons/icons.svg#dislike_hover" class="hover" alt="dislike_hover"/>
                                    <img src="@img/icons/icons.svg#dislike_active" class="active" alt="dislike_active"/>
                                </div>
                                <div class="count">@@dislikes</div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>