.breadcrumbs {
    margin-bottom: 20px;
    &__items {
        display: flex;
        align-items: center;
        gap: 10px;
        @media all and (max-width: $sm){
            gap: 7px;
        }
    }
    &__delim {
        width: 10px;
        font-size: 0;
        opacity: 0.7;
        @media all and (max-width: $sm){
            width: 7px;
        }
    }
    &__item {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        @media all and (max-width: $sm){
            font-size: 10px;
        }
        &--main {
            color: #777;
        }
    }
}