.breadcrumbs {
    margin-bottom: 20px;
    &__items {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__delim {
        width: 10px;
        font-size: 0;
        opacity: 0.7;
    }
    &__item {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        &--main {
            color: #777;
        }
    }
}