.titled_news {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media all and (max-width: $sm) {
            gap: 20px;
        }
    }
    &__items {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-gap: 20px;
    }
}