<a href="@@link" class="card_middle @@class">
    <div class="card_middle__top">
        <div class="card_middle__lock">
            <div class="icon">
                <img src="@img/icons/icons.svg#lock_gray" alt="lock_gray"/>
            </div>
            <div class="text">07.02.24</div>
        </div>
    </div>
    <div class="card_middle__middle">
        <div class="card_middle__image">
            <img src="@@image"/>
        </div>
        <div class="card_middle__title">
            @@title
        </div>
    </div>
    <div class="card_middle__bottom">
        @@text
    </div>
</a>