<a href="@@link" class="card_middle @@class">
    @@if (is_locked) {
        <div class="card_middle__top">
            <div class="card_middle__lock">
                <div class="icon">
                    <img src="@img/icons/icons.svg#lock_gray" alt="lock_gray" class="has-aspect-ratio" style="--aspect: 16/9;"/>
                </div>
                <div class="text">07.02.24</div>
            </div>
        </div>
    }
    <div class="card_middle__middle">
        @@if (image) {
            <div class="card_middle__image">
                <img src="@@image"/>
            </div>
        }
        <div class="card_middle__title @@if (!image) {card_middle__title--full}">
            @@title
        </div>
    </div>
    @@if (text) {
        <div class="card_middle__bottom">
            @@text
        </div>
    }
</a>