<div class="search_page__form">
    <div class="search_page__form_query">
        <input type="text" class="search_page__form_query_input" placeholder="Введенный запрос">
        <button class="search_page__form_query_button">
            <img src="@img/icons/icons.svg#search_icon_black" alt="search_icon_black">
        </button>
    </div>
    <div class="search_page__form_result">
        <div class="search_page__form_result_item">Найдено результатов: 500</div>
        <div class="search_page__form_result_item">Область поиска: раздел - везде</div>
    </div>
    <div class="search_page__form_detailed">
        <div class="search_page__form_detailed_opener">Расширенный поиск</div>
    </div>
    <div class="search_page__sort">
        <select class="general__select" name="" id="">
            <option>Сортировка</option>
            <option value="По релевантности">По релевантности</option>
            <option value="По дате">По дате</option>
        </select>
    </div>
</div>