.search_page {
    &__form {
        max-width: 892px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media all and (max-width: $sm) {
            gap: 14px;
        }
    }
    &__form_query {
        border-bottom: 2px solid #000;
        display: flex;
    }
    &__form_query_input {
        flex: 1 1 auto;
        height: 64px;
        border: none;
        outline: none;
        padding-right: 20px;
        @media all and (max-width: $sm) {
            height: 38px;
        }
        &, &::placeholder {
            color: #141414;
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media all and (max-width: $sm) {
                font-size: 16px;
            }
        }
    }
    &__form_query_button {
        width: 26px;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 0;
    }
    &__form_result {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__form_result_item {
        color: #828282;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
    }
    &__form_detailed_opener {
        color: #141414;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        cursor: pointer;
        &:before {
            content: "Расширенный поиск";
        }
        &.isOpened:before {
            content: "Скрыть расширенный поиск";
        }
    }
    &__sort {
        &.isHidden {
            display: none;
        }
        max-width: 253px;
        @media all and (max-width: $sm) {
            max-width: 100%;
        }
    }
    &__form_detailed {
        width: 100%;
        max-width: 438px;
        display: none;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        &.isOpened {
            display: flex;
        }
    }
    &__form_detailed_title {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &__form_detailed_button {
        max-width: 50%;
    }
}