<div class="tophead_banner_image">
    <div class="tophead_banner_image__in">
        <div class="tophead_banner_image__container general__container">
            <div class="tophead_banner_image__opener tophead_banner_image__opener--js">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 53 53" fill="none">
                    <circle cx="26.5" cy="26.5" r="26.5" fill="white"/>
                    <path d="M22 25L27 30L32 25" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div class="tophead_banner_image__image">
            <img src="https://placehold.co/1920x231/EEE/31343C" class="hide_on_mobile" alt="">
            <img src="https://placehold.co/320x136/EEE/31343C" class="hide_on_desktop" alt="">
        </div>
    </div>
</div>