.tophead_banner_image {
    position: relative;
    z-index: 10;
    background: #fff;
    user-select: none;
    &__container {
        position: relative;
    }
    &__opener {
        position: absolute;
        top: 9px;
        right: 0;
        width: 53px;
        font-size: 0;
        cursor: pointer;
        transition: all .3s ease;
        @media all and (max-width: $sm) {
            top: 15px;
            width: 46px;
        }
    }
    &__image {
        height: 71px;
        font-size: 0;
        transition: all .3s ease;
        @media all and (max-width: $sm) {
            height: 76px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 0;
        }
    }
    &__in.isOpened &__opener {
        transform: rotate(180deg);
    }
    &__in.isOpened &__image {
        height: 231px;
        @media all and (max-width: $sm) {
            height: 136px;
        }
    }
    
}