.investor_news {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        @media all and (max-width: $md) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media all and (max-width: $sm) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}