.tech_news {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    &__items_in {
        display: flex;
        flex-direction: column;
        gap: 30px;
        // position: sticky;
        // top: 50px;
        .card_one_lined {
            @media all and (max-width: $sm) {
                &:nth-child(n+4) {
                    display: none !important;
                }
            }
        }
    }
    &__big_item {
        // position: sticky;
        // top: 50px;
    }
}