@@if(link != '') {
    <a href="@@link" class="button @@class">
}
@@if(link == '') {
    <button type="@@type" class="button @@class">
}
    <span class="text">
        @@text
    </span>
    @@if (has_arrow) {
        <span class="arrow">
            @@if (share) {
                <img src="@img/icons/icons.svg#share" alt="share"/>
            }
            @@if (!share) {
                <img src="@img/icons/icons.svg#arrow_right_black" alt="arrow_right_black"/>
            }
        </span>
    }
@@if(link != '') {
    </a>
}
@@if(link == '') {
    </button>
}