<ul class="general__pagination">
    <li class="general__pagination_item">
        <a href="#">1</a>
    </li>
    <li class="general__pagination_item">
        <a href="#">2</a>
    </li>
    <li class="general__pagination_item">
        <a href="#">3</a>
    </li>
    <li class="general__pagination_item">
        <a href="#">4</a>
    </li>
    <li class="general__pagination_item">
        <a href="#">5</a>
    </li>
    <li class="general__pagination_item">
        <a href="#">6</a>
    </li>
</ul>