.detail {
    
    &__top {
        display: flex;
        flex-direction: column;
        gap: 26px;
        &:not(.noline) {
            &:before {
                content: "";
                display: block;
                width: 180px;
                height: 8px;
                background: #000;
            }
        }
    }
    &__top-row {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    &__date {
        color: #828282;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__title {
        margin: 0;
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 50.4px */
        max-width: 912px;
        &--small {
            font-size: 26px;
        }
    }
    &__short_descrition {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
    }
    &__indicators {
        display: flex;
        align-items: center;
        gap: 23px;
    }
    &__indicator {
        display: flex;
        align-items: center;
        gap: 5px;
        .icon {
            width: 18px;
            font-size: 0;
        }
        .count {
            color: #818181;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 14px */
        }
    }
    &__image {
        font-size: 0;
        img {
            max-width: 100%;
        }
    }
}