.detail {
    
    &__top {
        display: flex;
        flex-direction: column;
        gap: 26px;
        @media all and (max-width: $sm) {
            gap: 14px;
        }
        &:not(.noline) {
            &:before {
                content: "";
                display: block;
                width: 180px;
                height: 8px;
                background: #000;
                @media all and (max-width: $sm) {
                    width: 82px;
                    height: 4px;
                }
            }
        }
    }
    &__top-row {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    &__date {
        color: #828282;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__title {
        margin: 0;
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 50.4px */
        max-width: 912px;
        @media all and (max-width: $sm) {
            font-size: 19px;
        }
        &--small {
            font-size: 26px;
        }
    }
    &__short_descrition {
        color: #000;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
        @media all and (max-width: $sm) {
            font-size: 14px;
        }
    }
    &__indicators {
        display: flex;
        align-items: center;
        gap: 23px;
        @media all and (max-width: $sm) {
            gap: 14px;
        }
    }
    &__indicator {
        display: flex;
        align-items: center;
        gap: 5px;
        @media all and (max-width: $sm) {
            gap: 3px;
        }
        .icon {
            width: 18px;
            font-size: 0;
            @media all and (max-width: $sm) {
                width: 13px;
            }
        }
        .count {
            color: #818181;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 14px */
            @media all and (max-width: $sm) {
                font-size: 7px;
            }
        }
        &:not(:hover):not(.active) {
            .icon .hover,
            .icon .active {
                display: none;
            }
        }
        &:hover {
            .icon .normal,
            .icon .active {
                display: none;
            }
        }
        &:not(:hover).active {
            .icon .normal,
            .icon .hover {
                display: none;
            }
        }
    }
    &__image {
        font-size: 0;
        img {
            max-width: 100%;
        }
    }
}