<div class="detail__top">
    <date class="detail__date">
        07.02.24
    </date>
    <h1 class="detail__title">
        Настенная карта месторождений золота Свердловской области
    </h1>
    <div class="detail__indicators">
        @@if (messages) {
            <div class="detail__indicator">
                <div class="icon">
                    <img src="@img/icons/icons.svg#messages_black" alt="messages_black"/>
                </div>
                <div class="count">@@messages</div>
            </div>
        }
        @@if (eyes) {
            <div class="detail__indicator">
                <div class="icon">
                    <img src="@img/icons/icons.svg#eye_black" alt="eye_black"/>
                </div>
                <div class="count">@@eyes</div>
            </div>
        }
        @@if (likes) {
            <div class="detail__indicator">
                <div class="icon">
                    <img src="@img/icons/icons.svg#like_black" alt="like_black"/>
                </div>
                <div class="count">@@likes</div>
            </div>
        }
        @@if (dislikes) {
            <div class="detail__indicator">
                <div class="icon">
                    <img src="@img/icons/icons.svg#dislike_black" alt="dislike_black"/>
                </div>
                <div class="count">@@dislikes</div>
            </div>
        }
    </div>
    <div class="detail__short_descrition">
        Редакция журнала «Золото и технологии» готовит к выпуску настенную карту месторождений золота Свердловской области. На ней размещены все коренные и россыпные золотосодержащие месторождения распределенного и нераспределенного фонда недр.
    </div>
    <div class="detail__short_descrition">Кроме этого, на карте указаны населенные пункты, транспортная инфраструктура региона, административные границы районов и округов, особо охраняемые природные территории
    </div>
    
</div>