.newslist {
    &__in {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 1046px;
    }
    &__pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
    }
}